* {
  font-family: "JetBrainsMono Nerd Font Propo", monospace;
  font-size: 15px;
  font-weight: bold;
  background: transparent;
}

#stats {
  background-color: #191813;
  margin: 6px 4px 2px 4px;
  padding: 4px 16px;
  border-radius: 18px;
  color: #f9de74;
}

#mode {
  background-color: #191813;
  margin: 6px 4px 2px 4px;
  padding: 4px 16px;
  border-radius: 18px;
  color: #f9de74;
}

#network,
#custom-mullvad {
  margin: 0px 6px;
}

#networkstatus {
  background-color: #191813;
  margin: 6px 4px 2px 4px;
  padding: 4px 16px;
  border-radius: 18px;
  color: #f9de74;
}

#custom-notification {
  background-color: #191813;
  margin: 6px 4px 2px 4px;
  padding: 0px 16px;
  border-radius: 18px;
  color: #f9de74;
}

#power {
  background-color: #191813;
  margin: 6px 4px 2px 4px;
  padding: 4px 8px;
  border-radius: 18px;
  color: #f9de74;
}

#power * {
  min-width: 20px;
  margin: 0 6;
  font-size: 18px;
}

#cpu,
#disk,
#temperature {
  margin: 0px 6px;
}

#clock,
#battery,
#pulseaudio {
  background-color: #191813;
  margin: 6px 4px 2px 4px;
  padding: 4px 16px;
  border-radius: 18px;
  color: #f9de74;
}

#workspaces {
  background-color: #191813;
  margin: 6px 4px 2px 4px;
  padding: 4px 8px;
  border-radius: 18px;
}

#workspaces button {
  padding: 0px 12px;
  margin: 4px 4px;
  background-color: #36342a;
  border-radius: 18px;
  color: #f9de74;
}

#workspaces button.focused {
  background-color: #f9de74;
  padding: 0px 25px;
  border-radius: 8px;
  color: #36342a;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: #f9de74;
  color: #36342a;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#temperature.critical {
  color: #f97478;
}
